{% extends "base.html" %}
{% block content %}
<div class="container" style="text-align:center;">
    <h1 class="page-title">😂 Motivation Jokes</h1>

    <p id="jokeBox" style="font-size:23px;margin-bottom:20px;"></p>
    <button onclick="newJoke()">Next Joke</button>
</div>

<script>
    const jokes = [
        "Why did the student bring a ladder? — Because success was high!",
        "Your tasks fear YOU.",
        "Coffee + effort = impossible becomes DONE ☕💪"
    ];

    function newJoke() {
        document.getElementById("jokeBox").innerHTML =
            jokes[Math.floor(Math.random() * jokes.length)];
    }
    newJoke();
</script>
{% endblock %}
